<link rel="stylesheet" href="../style.css">
<footer class="main-footer no-print" id="myFooter">
    <div class="container">
        <div class="footer-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row pnp-footer-top-row">
                <div class="links col-sm-12 col-sm-4 col-md-4">
                    <div class="simple-banner-component simple-banner ">
                        <a href="/pnpstorefront/pnp/en/"><img title="Pick n Pay" alt="Pick n Pay" src="https://cdn-prd-02.pnp.co.za/sys-master/images/heb/hf6/8796170420254/footer-pnp-white.png"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="footer-left-inner col-xs-12 col-sm-5 col-md-7 col-lg-7 pull-left">
                    <div class="links col-sm-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="title un-hovered">Company<span class="icon-down-arrow-expander"></span></div>
                        <ul class="fed-footer-left-ul-collapsible" >
                            <li>
                                <a href="http://www.picknpay.co.za/about-us-introduction" title="About Us" target="_blank">About Us</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/careers-landing" title="Careers" target="_blank">Careers</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/awards" title="Awards" target="_blank">Awards</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/news" title="Press" target="_blank">Press</a></li>
                            <li>
                                <a href="http://www.picknpayinvestor.co.za/" title="Investor Relations" target="_blank">Investor Relations</a></li>
                            <li>
                                <a href="http://www.picknpay-ir.co.za/results-reports-presentations.php" title="Sustainability reports" target="_blank">Sustainability
                                    reports
                                </a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/foundation" title="Ackerman pnp foundation" target="_blank">Ackerman pnp foundation</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/sbi-introduction" title="small business enterprise development" target="_blank">small
                                    business enterprise development</a></li>
                        </ul>
                    </div>
                    <div class="links col-sm-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="title un-hovered">Useful links<span class="icon-down-arrow-expander"></span></div>
                        <ul class="fed-footer-left-ul-collapsible" >
                            <li>
                                <a href="/pnpstorefront/pnp/en/self-help" title="Help">Help</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/store-locator" title="Store Locator">Store Locator</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/my-account/orders" title="Amend your Order">Amend your Order</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/my-account/orders" title="Track Your Order" target="_blank">Track Your Order</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/returns-policy" title="Refunds &amp; Returns" target="_blank">Refunds &amp; Returns</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/all-recipes" title="RECIPES">RECIPES</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/faq" groupgrey="" title="FAQs">FAQs</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/learn-to-shop-online" title="How to Shop Online">How to Shop Online</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/contact-us" title="Contact Us">Contact Us</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/competitions" title="Competitions" target="_blank">Competitions</a></li>
                            <li>
                                <a href="https://campaigns.pnp.co.za/wine/" title="Wine Club" target="_blank">Wine Club</a></li>
                        </ul>
                    </div>
                    <div class="links col-sm-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="title un-hovered">More Services<span class="icon-down-arrow-expander"></span></div>
                        <ul class="fed-footer-left-ul-collapsible" >
                            <li>
                                <a href="http://www.picknpay.co.za/financial-services" title="pick n pay money" target="_blank">pick n pay money</a></li>
                            <li>
                                <a href="http://www.schoolclub.co.za/" title="pick n pay school club" target="_blank">pick n pay school club</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/brandmatch" title="Brand Match" target="_blank">Brand Match</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/events-calendar" title="PnP Events" target="_blank">PnP Events</a></li>
                            <li>
                                <a href="http://www.boxer.co.za/" title="boxer stores" target="_blank">boxer stores</a></li>
                            <li>
                                <a href="http://www.picknpay.co.za/clothing" title="Clothing" target="_blank">Clothing</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/my-account/business-customer" title="Apply for a Business Account" target="_blank">Apply
                                    for a Business Account</a></li>
                            <li>
                                <a href="/pnpstorefront/pnp/en/store-account" title="Pick n Pay Store Account">Pick n Pay Store Account</a></li>
                        </ul>
                    </div>
                </div>

                <hr class="hr-divider">

                <div class="footer-right col-xs-12 col-sm-7 col-md-5 col-lg-5 pull-right">

                    <div class="links col-sm-12 col-sm-12 col-md-12 col-lg-12 no-space">
                        <div class="title">Get the latest specials sent to your inbox! </div>
                        <ul>
                            <li class="btn-sign-me-up">
                                <a class="btn btn-default centerFooterBtnWording fed-footer-btn" href="http://www.pages01.net/picknpayonline/pnponlineshopping/Hybris_pref_Centre "
                                 role="button">yes, sign me up!</a>
                            </li>
                            <hr class="fed-newsletter-hr">
                            <li class="row">
                                <div class="pull-left">
                                    <span class="pnp-icon-heart pull-left fed-footer-icon-enlarge" aria-hidden="true"></span>
                                </div>

                                <div class="pull-left customerCareLineTitle">Customer Careline</div>
                                <div class="fed-tel-fld col-xs-12 col-sm-4 no-space customerCareLineTelephoneMobile"><a >0800
                                        11 22 88</a></div>
                                <div class="fed-footer-text-small pull-left col-xs-10 col-lg-4">Mon-Sat: 08:00-19:00 | Sun &amp; public holidays:
                                    09:00-17:00
                                </div>
                                <div class="fed-btn-container">
                                    <a class="btn btn-default centerFooterBtnWording fed-footer-btn fed-footer-btn-short" href="https://www.pnp.co.za/pnpstorefront/pnp/en/contact-us"
                                     role="button">
                                        Customer Care</a>
                                </div>

                            </li>
                            <li class="row">
                                <div class="pull-left">
                                    <span class="pnp-icon-tuktuk pull-left fed-footer-icon-enlarge" aria-hidden="true"></span>
                                </div>

                                <div class="pull-left onlineShoppingTitle">Online Shopping Help</div>
                                <div class="fed-tel-fld col-xs-12 col-sm-4 no-space onlineShoppingTelephoneMobile"><a >0860
                                        30 30 30</a></div><a >
                                    <div class="fed-footer-text-small pull-left col-xs-10 col-lg-4">Mon-Sat: 08:00-19:00 | Sun &amp; public holidays:
                                        09:00-17:00
                                    </div>
                                </a><div class="fed-btn-container"><a >
                                    </a><a class="btn btn-default centerFooterBtnWording fed-footer-btn fed-footer-btn-short" href="mailto:onlineshopping@pnp.co.za"
                                     role="button">
                                        Online Support</a>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div>

                <hr class="fed-hr-main-divider">

                <div class="row footer-row-social">
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <div class="title"><span class="pnpFontBold">Shopping made even easier! Download our free app</span></div>
                        <div class="logo-badges">
                            <div class="simple-banner-component simple-banner ">
                                <a href="https://play.google.com/store/apps/details?id=za.co.pnp.smartshopper"><img title="icon-1.png" alt="icon-1.png"
                                     src="https://cdn-prd-02.pnp.co.za/sys-master/images/h7e/h03/8929917665310/icon-1.png"></a>
                            </div>
                            <div class="simple-banner-component simple-banner ">
                                <a href="https://itunes.apple.com/us/app/pick-n-pay/id710386543?ls=1&amp;mt=8"><img title="icon-2.png" alt="icon-2.png"
                                     src="https://cdn-prd-02.pnp.co.za/sys-master/images/hba/h51/8929918058526/icon-2.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 footer-social-block">
                        <div class="footer-social-block-inner">
                            <div class="title">Give us a shout or Shout about us!</div>
                            <a href="https://www.facebook.com/Picknpay/" class="icon-social-facebook" aria-hidden="true"></a>&nbsp;<a href="https://twitter.com/picknpay"
                             class="icon-social-twitter" aria-hidden="true"></a>&nbsp;<a href="https://www.youtube.com/user/PicknPayTube" class="icon-social-youtube"
                             aria-hidden="true"></a>&nbsp;<a href="https://za.pinterest.com/picknpay/" class="icon-social-pinterest" aria-hidden="true"></a>&nbsp;<a
                             href="https://www.instagram.com/picknpay/" class="icon-social-instagram" aria-hidden="true"></a></div>
                    </div>
                </div>

                <div class="row row-terms">
                    <div class="fed-footer-terms-small">
                        <b>ɠ2018 PICK N PAY</b> ALL RIGHTS RESERVED | <a href="/tncs">ONLINE SHOP T&amp;Cs</a> | <a href="http://www.picknpay.co.za/privacy-policy">PRIVACY
                            POLICY
                        </a> | <a href="http://www.picknpay.co.za/popup/terms-and-conditions-5">TERMS AND CONDITIONS</a> | <a href="http://www.picknpay.co.za/pnp-copyright">COPYRIGHT</a>
                        | <a href="http://www.picknpay.co.za/returns-policy">RETURNS POLICY</a> | <a href="http://www.picknpay.co.za/cpa">CPA</a></div>
                </div>

                <div class="row footer-row-payu-container" align="center">
                    <div style="height:20px;width:220px;">
                        <div class="simple-banner-component simple-banner ">
                            <img title="Payment Provider" alt="Payment Provider" src="https://cdn-prd-02.pnp.co.za/sys-master/images/hc9/hf0/8796170289182/footer-payu-white.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>