<html lang="en" class="">

<head>
  <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide {
      display: none !important;
    }

    ng\:form {
      display: block;
    }

    .ng-animate-block-transitions {
      transition: 0s all !important;
      -webkit-transition: 0s all !important;
    }
  </style>
  <title>Pick n Pay Online Shopping | Welcome! Start Filling Your Trolley</title>












  <link rel="stylesheet" href="../logged/style.css">
  <script async="" src="https://script.hotjar.com/modules-d29e99de733030d6f843c23247c900cc.js"></script>
  <style type="text/css">
    iframe#_hjRemoteVarsFrame {
      display: none !important;
      width: 1px !important;
      height: 1px !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  </style>
</head>

<body class="page-homepage pageType-ContentPage template-pages-layout-landingLayout2Page pageLabel--welcome language-en "
  style="padding-top: 132px;">
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W93ZJHB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript><div class="branding-mobile hidden-md hidden-lg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 js-mobile-logo"></div>

      </div>
    </div>
  </div>
  <main data-currency-iso-code="ZAR">
    <a href="#skip-to-content" class="skiptocontent" data-role="none">Skip to content</a>
    <a href="#skiptonavigation" class="skiptonavigation" data-role="none">Skip to navigation menu</a>


    <div class="container">
    </div>
    <div class="logo-for-print and other things">
      <div class="col-xs-12 no-space yComponentWrapper">
        <div class="simple-banner-component simple-banner introPageHeader">
          <a href="/pnpstorefront/pnp/en/"><img title="Pick n Pay" alt="Pick n Pay" src="https://cdn-prd-02.pnp.co.za/sys-master/images/h42/hf7/8796170453022/onlineshopping_logo.png"></a>
        </div>
      </div>
    </div>


    <my-header></my-header>

    <div class="container">
      <!-- login modal starts -->

      <div class="login-modal" *ngIf="message" id="login-modal">

        <div class="login-image" style="background-image: url(https://cdn-prd-02.pnp.co.za/sys-master/images/h1b/h63/8921891962910/login-modal.jpg)"></div>

        <div class="login-content">
          <a (click)='close()' title="Close" class="close">X</a>
          <h2>COULD YOU DO US A <br><span>FLAVOUR?</span></h2>
          <h4><b>LOG IN</b> or <b>SIGN UP</b> now to find out:</h4>
          <div class="login-list"><span>1</span> <h4>If we <b>DELIVER</b> to you</h4>
          </div>
          <div class="login-list"><span>2</span> <h4>If a particular <b>PRODUCT&nbsp;</b>is available in your area</h4>
          </div>
          <div class="login-list"><span>3</span> <h4>The <b>PRICE&nbsp;</b>(maybe it's on special in your area!)</h4>
          </div>
          <div class="login-modal-buttons">
            <a routerLink="/my-login"><button type="button" class="btn-custom btn-custom-blue btn-login-modal-login">LOG
                IN</button></a>
            <a routerLink="/my-signin"><button type="button" class="btn-custom btn-custom-pink btn-login-modal-signup">SIGN
                UP</button></a>

          </div>
        </div>

      </div>

      <!-- login modal ends -->
    </div><a id="skip-to-content"></a>

    <div>
      <div class="no-space">
        

        <div class="main-content container no-space">

          <div class="col-xs-12 col-md-3 col-md-push-9 stickThis">
            <div class="row MobilefixedSideBar" style="position: static; top: auto; width: 275px; margin-top: 0px;">
              <div class="col-xs-12 no-space yComponentWrapper">
                <div class="mini-smart-shopper" data-auto-expand="false">
                  
                  
                </div>
              </div>
              <div class="col-xs-12 no-space yComponentWrapper">
                <div class="nav-cart accountvoucherlistcomponent hidden-xs hidden-sm" data-mini-cart-url="/pnpstorefront/pnp/en/cart/rollover/MiniCart"
                  data-mini-cart-refresh-url="/pnpstorefront/pnp/en/cart/miniCart/SUBTOTAL" data-mini-cart-name="Cart" data-mini-cart-empty-name="Empty Cart">

                  <div class="listPageHeader hasAmendMode">
                    <h1>
                      <span class="navcart-icon"></span>
                      <a style="color: #575757;" href="/cart"><b>MY</b> TROLLEY</a><span id="totalItems" class="right">0</span>
                    </h1>
                  </div>

                  <div class="scroll-wrapper scrollbar-macosx" style="position: relative;">
                    <div id="miniCartItems" class="scrollbar-macosx scroll-content"
                      style="height: 300px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                      <div class="mini-cart js-mini-cart">
                        <div class="mini-cart-body">
                          <span class="mini-cart-empty-msg"><p><b>Look at this shiny new trolley</b>, just waiting to be
                              filled. Start shopping now!</p></span>
                        </div>
                      </div>


                    </div>
                    <div class="scroll-element scroll-x">
                      <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar" style="width: 103px;"></div>
                      </div>
                    </div>
                    <div class="scroll-element scroll-y">
                      <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar" style="height: 98px;"></div>
                      </div>
                    </div>
                  </div>

                  <div class="mini-cart js-mini-cart">
                    <div id="miniCartTotals" class="mini-cart-totals">
                      <div id="miniCartTotals-subtotal">Trolley Total<span>R0<span>00</span></span></div>
                      <div id="miniCartTotals-saving" class="saving-text-grey">Promotional Savings<span>R0<span>00</span></span></div>
                      <div id="miniCartTotals-delivery" class="">Delivery Fee<span>R0<span>00<span></span></span></span></div>
                      <!-- <div id="miniCartTotals-vouchers"> -->
                      <div name="miniCartTotals-cashOffValue" id="miniCartTotals-saving" class="saving-text-grey">
                        Cash Off Voucher<span>R0<span>00</span></span>
                      </div>
                      <div id="miniCartTotals-totalPrice">Total<span>R0<span>00</span></span></div>
                    </div>

                    <div class="actions">
                      <div class="MiniCart-CheckoutAction" data-index="1">
                       <button type="submit"  routerLink="/my-trolley"
                            class="btn btn-fullwidth btn-default btn-custom-green-homepage-checkout">
                            CHECKOUT</button>
                          <div>
                            <input type="hidden" name="CSRFToken" value="e3f287e4-2c60-4785-af68-5717051122f4">
                          </div>
                       
                      </div>
                      <div class="MiniCart-ViewCartAction" data-index="2">
                        <button type="submit"
                            routerLink="/my-trolley"class="btn btn-primary btn-primary-blue btn-fullwidth">
                            VIEW TROLLEY</button>
                          <div>
                            <input type="hidden" name="CSRFToken" value="e3f287e4-2c60-4785-af68-5717051122f4">
                          </div>
                        
                      </div>
                      <div class="MiniCart-MiniTrolleyUpdateAction" data-index="3">
                      </div>
                      <div class="MiniCart-MiniTrolleyCancelAction" data-index="4">
                      </div>
                    </div>

                  </div>
                  <div class="mini-cart-container js-mini-cart-container"></div>
                </div>
              </div>
              <div class="col-xs-12 no-space yComponentWrapper">
                <div class="col-xs-12 no-space" id="accountSummaryContainer_AccountSummary" name="accountSummaryContainer" data-component-uid="AccountSummary"
                  data-url="/pnpstorefront/pnp/en/account/accountSummary/"></div>
              </div>
              
            </div>
          </div>
          <div class="col-xs-12 col-md-9 col-md-pull-3">
            <div class="row favourites-main">
              
              <div class="col-xs-12 no-space tab favourites yComponentWrapper">
                <div>
                  <div class="content">
                    <div class="mainSectionTitle"><span class="hidden-xs"> <span class="pnpFontMedium">Specials</span> <span style="font-family:'pnpFont';">
                         </span>   </span></div>
                  </div>
                </div>
                <div class="carousel-component fed-prodref-carousel small-chevron ">
                  <!--<div class="headline"></div>-->
                  <div class="carousel js-owl-carousel js-owl-lazy-product-reference js-owl-carousel-reference owl-carousel owl-theme owl-loaded">






                    <div class="owl-stage-outer">
                      <div *ngFor="let product of products">


                        <div class="owl-item active" style="width: 250px; margin-right: 10px;">
                          <div class="productCarouselItem js-product-carousel-item">

                            <div class="productCarouselItem-overlay addToCartError_000000000000162106_EA" id="addToCartError_000000000000162106_EA" style="display: none">
                              <div class="productCarouselItem-overlay-close" onclick="getElementById('addToCartError_000000000000162106_EA').style.display='none'">X</div>
                              <span class="addToCartErrorMsg_000000000000162106_EA" id="addToCartErrorMsg_000000000000162106_EA"></span>
                            </div>

                            <div class="image-gallery-savingsbuttonContainer">
                              <div class="image-gallery-savingsbutton js-savings-amount-off">
                                Save
                                <div>
                                  {{product.save}}</div>
                              </div>
                              <div class="image-gallery-savingsbutton savingsbuttonPoints">
                                Get
                                <div>Triple</div>Points
                              </div>
                            </div>

                            <div class="item js-product-card-item">
                              <a (click)="getProduct(product.productId)">
                                <div class="thumb">
                                  <img src="{{product.image}}">
                                </div>
                                <div class="item-name">{{product.productName}}</div>
                                <div class="product-price" style="height: 45px;">
                                  <div class="item-price">
                                    <div class="currentPrice  hasSavings">
                                      R{{product.newPrice.toFixed(2)}}</div>
                                    <div class="oldPrice">R{{product.originPrice.toFixed(2)}}</div>
                                  </div>
                                </div>
                              </a>
                              <div class="addtocart-component">

                                <div class="qty-selector input-group js-qty-selector">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary js-qty-selector-minus" (click)="SubQty(product)" type="button"><span
                                        class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                  </span>
                                  <input type="text" maxlength="3" class="form-control js-qty-selector-input" size="1" value="{{product.quantity}}" data-max="999"
                                    data-min="1" name="pdpAddtoCartInput" title="Quantity">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary js-qty-selector-plus" (click)="AddQty(product)" type="button"><span
                                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                  </span>
                                </div>
                                <div class="actions">
                                  <div class="ProductCarouselAddToCart-AddToCartAction" data-index="1">
                                    <div id="addToCartTitle" style="display:none">Added to Your Shopping Cart</div>
                                    <form id="addToCartForm" class="add_to_cart_form" action="/pnpstorefront/pnp/en/cart/add" method="post"><input
                                        type="hidden" maxlength="3" size="1" id="qty" name="qty" class="qty js-qty-selector-input"
                                        value="1">
                                      <input type="hidden" name="productCodePost" value="000000000000162106_EA">
                                      <input type="hidden" name="quantityInCart_000000000000162106_EA" value="0">

                                      <div class="addToCartButtonContainer container-fluid no-space" data-pdt-code="000000000000162106_EA">

                                        <div id="prodtile-addToCartButton-container_000000000000162106_EA" class="prodtile-addToCartButton-container notAdded addToCartButton_000000000000162106_EA ">
                                          <button id="addToCartButton" (click)="addToCart(product)" name="addToCartButton_000000000000162106_EA" type="submit" class="hasSpin btn btn-default btn-default-productview js-enable-btn">
                                            <span class="addbuttontextLong centertileBtnWording">Add to trolley</span>
                                            <span class="addbuttontextShort centertileBtnWording">Add</span>
                                          </button>
                                        </div>

                                        <div id="addedToCartDiv_000000000000162106_EA" class="prodtile-addedToCart addedToCartDiv_000000000000162106_EA col-xs-5"
                                          style=" display:none  ">
                                          <div class="prodtile-addedToCartInner">
                                            <div class="prodtile-addedToCartInner-qty lblQuantityInCart_000000000000162106_EA" id="lblQuantityInCart_000000000000162106_EA">0</div>
                                            <button id="removeFromCartButton_000000000000162106_EA" type="button" class="btn btn-primary btn-primary-blue js-enable-btn js-cart-item-remove removeFromCartButton_000000000000162106_EA"
                                              data-remove-cart-product-url="/pnpstorefront/pnp/en/cart/product/000000000000162106_EA/remove"
                                              data-product-code="000000000000162106_EA">
                                            </button>
                                          </div>
                                        </div>

                                        <div class="addToCartError-pdp addToCartError_000000000000162106_EA" id="addToCartError_000000000000162106_EA" style="display: none">
                                          <a class="glyphicon glyphicon-remove pdp-cart-notification-remove" href="#"></a>
                                          <span id="addToCartErrorMsg_000000000000162106_EA" class="addToCartErrorMsg_000000000000162106_EA"></span>
                                        </div>
                                      </div>
                                      <div>
                                        <input type="hidden" name="CSRFToken" value="eaf1900c-0945-428a-873c-765e01d52036">
                                      </div>
                                    </form>
                                  </div>
                                </div>

                                <div class="list-actions">
                                  <div class="rating js-ratingCalc " data-rating="{&quot;rating&quot;:&quot;&quot;,&quot;total&quot;:5}">
                                    <div class="rating-stars">
                                      <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span
                                        class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span
                                        class="glyphicon glyphicon-star"></span>
                                    </div>

                                  </div>


                                  <div class="ProductCarouselAddToCart-CarouselAddToShoppingListAction" data-index="1">
                                    <a href="javascript:" class="glyphicon glyphicon page-check" onclick="ACC.shoppinglist.addProductToShoppingListPopup(this);"
                                      data-pg="plp"></a>

                                    <div class="overlay-sl"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="prodFavourite">
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev" style="display: none;"><span class="glyphicon small-chevron icon-chevron-small-left"></span></div>
                        <div class="owl-next"
                          style="display: none;"><span class="glyphicon small-chevron icon-chevron-small-right"></span></div>
                      </div>
                      
                    </div>
                  </div>
                </div>
               
              </div>
              
              
             
              <div class="col-xs-12 no-space tab favourites yComponentWrapper">
                <div>
                  <div class="content">
                    <div class="mainSectionTitle"><span class="pnpFontMedium">WHAT DO YOU NEED</span> TO STOCK UP ON?</div><br></div>
                </div>
                <div *ngFor="let ai of aisle" class="cmstilecomponent small-chevron ">
                  <div class="col-xs-6 col-sm-4 no-space tileContainerTile">


                    <a (click)="getAllByCat(ai.aisleId)">
                      <img title="Browse-Aisles-category-tile-3-opt.jpg" src="{{ai.image}}" class="">
                      <span class="tileContainerTile-title">{{ai.aisleName}}</span>
                    </a>


                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container no-space">
          <div class="col-xs-12 col-md-9">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 no-space">
            <div class="row">
            </div>
          </div>
        </div>


        <div class="container no-space">
          <div class="col-xs-12 col-md-9">
            <div class="row">
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>









  <my-footer></my-footer>

</body>

</html>