<html>

<head>

    
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>Pick n Pay</title>


</head>

<body class="profile claro" ><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDWF4P" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="mainSpinner" style="display: none; opacity: 0.75; z-index: 101; position: fixed; cursor: wait; width: 100%; height: 100%; background-color: rgb(192, 192, 192);"></div>





    <div class="headerLogo_inside" id="uniqName_0_1" widgetid="uniqName_0_1">
        <div class="headerLogo_logo">
            <a routerLink="/my-menu" routerLinkActive="active">
                <img data-dojo-attach-point="pnpLogoImg" src="app/menu/img/LogoPnP.png" >
            </a>
        </div>
        <div class="goToShop">
            <a href="https://www.pnp.co.za/">
                <span>
                    <img data-dojo-attach-point="arrowPngImg" alt="" src="app/menu/img/Arrow.png"> &nbsp;&nbsp;GO TO THE
                    ONLINE SHOP
                </span>
            </a>
        </div>
        <div class="headerLogo_links" style="display:none">
            <div class="headerLogo_linksContent" data-dojo-attach-point="links" style="display: block;">
                <a data-dojo-attach-point="cozaLink" href="http://www.picknpay.co.za/home">Pick n Pay</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a data-dojo-attach-point="onlineShoppingLink" href="https://www.pnp.co.za/b2c_pnp/b2c/secureLogin.do">Shop</a><span
                    data-dojo-attach-point="logoutSpan" style="display: none;">&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a data-dojo-attach-point="logoutLink" href="#">Sign out</a></span>
            </div>
            <img data-dojo-attach-point="smartShopperLogoImg" src="">
        </div>
    </div>
    <div>
        <div id="uniqName_2_1" widgetid="uniqName_2_1">
            <div>
                <div style=" max-width: 500px; margin: auto; margin-top:10%;" id="uniqName_0_0" widgetid="uniqName_0_0">
                    <div class="headerWelcome">Welcome to Pick n Pay Online</div>
                    <div class="copy">
                        <h1 class="heading2">Sign up with your Smart Shopper card to:</h1>
                        <ul class="heading_list">
                            <li> <b>Instantly shop</b> your previous in-store purchases</li>
                            <li> <b>Create shopping lists</b> for faster shopping and checkout</li>
                            <li>View your personalised <b>Smart Shopper discounts</b> </li>
                        </ul>
                    </div>


                    <span class="dijit dijitReset dijitInline iconBtn_reg dijitButton" role="presentation" widgetid="dijit_form_Button_0" style="background-color: rgb(51, 102, 204);"><span
                            class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span
                                class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode"
                                role="button" aria-labelledby="dijit_form_Button_0_label" tabindex="0" id="dijit_form_Button_0"
                                style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon" data-dojo-attach-point="iconNode"></span><span
                                    class="dijitReset dijitToggleButtonIconChar">?</span><span class="dijitReset dijitInline dijitButtonText"
                                    id="dijit_form_Button_0_label" data-dojo-attach-point="containerNode"><img src="app/menu/img/ss-icon.png"
                                        alt="">
                                    <p>I have a <br> Smart Shopper card </p></span></span></span>
                                    
                                    <input type="button" value=""
                            class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                            data-dojo-attach-point="valueNode"></span>

                            <a routerLink="/my-regForm" routerLinkActive="active"><span class="dijit dijitReset dijitInline dijitButton iconBtn_website iconBton_non-ss" role="presentation" widgetid="dijit_form_Button_1"
                        style="background-color: rgb(167, 2, 64);"><span class="dijitReset dijitInline dijitButtonNode"
                            data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents"
                                data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="dijit_form_Button_1_label"
                                tabindex="0" id="dijit_form_Button_1" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon"
                                    data-dojo-attach-point="iconNode"></span><a routerLink="/my-menu" routerLinkActive="active"><span class="dijitReset dijitToggleButtonIconChar">?</span></a>
                                    <span
                                    class="dijitReset dijitInline dijitButtonText" id="dijit_form_Button_1_label" data-dojo-attach-point="containerNode">
                                    
                                    <img
                                        src="app/menu/img/trolly-icon.png" alt="">
                                    <p>I don't have a <br> Smart Shopper card</p></span></span></span><input type="button"
                            value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                            data-dojo-attach-point="valueNode"></span></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>