<head>
    <link rel="stylesheet" href="../trolley/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>Pick n Pay</title>
</head>
<main data-currency-iso-code="ZAR">
    <a href="#skip-to-content" class="skiptocontent" data-role="none">Skip to content</a>
    <a href="#skiptonavigation" class="skiptonavigation" data-role="none">Skip to navigation menu</a>


    <div class="container">
    </div>
    <div class="logo-for-print and other things">
        <div class="col-xs-12 no-space yComponentWrapper">
            <div class="simple-banner-component simple-banner introPageHeader">
                <a href="/pnpstorefront/pnp/en/"><img title="Pick n Pay" alt="Pick n Pay" src="https://cdn-prd-02.pnp.co.za/sys-master/images/h42/hf7/8796170453022/onlineshopping_logo.png"></a>
            </div>
        </div>
    </div>



    <my-header></my-header>

    <body>
        <div class="container">
            <!-- login modal starts -->

            <div class="login-modal" style="display:none;">

                <div class="login-image" style="background-image: url(https://cdn-prd-02.pnp.co.za/sys-master/images/h1b/h63/8921891962910/login-modal.jpg)"></div>

                <div class="login-content">
                    <h2>COULD YOU DO US A <br><span>FLAVOUR?</span></h2>
                    <h4><b>LOG IN</b> or <b>SIGN UP</b> now to find out:</h4>
                    <div class="login-list"><span>1</span> <h4>If we <b>DELIVER</b> to you</h4>
                    </div>
                    <div class="login-list"><span>2</span> <h4>If a particular <b>PRODUCT&nbsp;</b>is available in your area</h4>
                    </div>
                    <div class="login-list"><span>3</span> <h4>The <b>PRICE&nbsp;</b>(maybe it's on special in your area!)</h4>
                    </div>
                    <div class="login-modal-buttons">
                        <a href="/openid_connect_login"><button type="button" class="btn-custom btn-custom-blue btn-login-modal-login">LOG
                                IN
                            </button></a>
                        <a href="https://profile.pnp.co.za/#register?redirect_uri=https://beta.pnp.co.za/pnpstorefront"><button
                                type="button" class="btn-custom btn-custom-pink btn-login-modal-signup">SIGN UP</button></a>
                    </div>
                </div>

            </div>

            <!-- login modal ends -->
        </div><a id="skip-to-content"></a>

        <div>
            <div class="alert negative" id="noStoreSelected" style="display:none" tabindex="0">
                Please select stores for the entries highlighted in red</div>
            <div id="displayAmendMessage" style="display:none;">
                The order you selected is no longer available to be amended.</div>

            <button class="cart-back js-cart-back hidden-sm hidden-md hidden-lg"> &lt; Back</button>

            <div>
                <div class="container checkoutDeliveryContainer">

                    <div class="col-xs-12 col-md-3 col-md-push-9">
                        <div class="stickThis">
                            <div class="row MobilefixedSideBar checkout-help-totals no-space" style="position: static; top: 132px; width: 280px;">
                                <!-- Verified that there's a pre-existing bug regarding the setting of showTax; created issue  -->





















                                <div class="cart-totals col-xs-12 col-sm-6 col-md-12 no-space ">

                                    <div class="mini-cart js-mini-cart" name="cartTotal">
                                        <div id="miniCartTotals" class="mini-cart-totals">
                                            <div name="cartTotals-subtotal">
                                                Trolley Total
                                                <span>R{{total.toFixed(2)}}</span>
                                            </div>
                                            <div name="cartTotals-saving" class="cartTotals-saving cart-saving saving-text-grey">
                                                Promotional Savings
                                                <span>
                                                    -R{{pro.toFixed(2)}}</span>
                                            </div>
                                            <div name="cartTotals-delivery" class="">


                                                Delivery Fee



                                                <span>



                                                    R0<span>00</span>

                                                </span>
                                            </div>
                                            <div name="cartTotals-cashOffValue" class="cart-saving saving-text-grey">
                                                Cash Off Voucher
                                                <span>
                                                    R0<span>00</span></span>
                                            </div>

                                            <div name="cartTotals-totalPrice" class="cartTotals-totalPrice" data-total-price-value="366.94">
                                                Total
                                                <span>R{{(total-pro).toFixed(2)}}</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="cartMessage">
                                        <strong>Note:</strong> your total is a guide price &amp; may vary slightly upon invoicing
                                        due to variable weight items, adding bags, and/or substitute items.
                                    </div>


                                </div>
                                <div class="cart-voucher col-xs-12 col-sm-6 col-md-12">
                                    <div class="voucherHeadingsTop"><strong><span>APPLY A PROMO CODE</span></strong></div>
                                    <div name="voucherItems"><input type="hidden" name="appliedVoucherCode" value="">
                                        <div name="showVoucherEnter" class="freeDelVoucher">
                                            <div class="freeDelVoucherInner">

                                                <div class="js-voucher-error-message-container stock-message-container freeDelVoucher-errorOverlay" style="display:none;">
                                                    <div class="js-voucher-error-message-text">
                                                    </div>
                                                    <button type="button" class="btn btn-default btn-default-yellow btn-fullwidth remove-item js-close-voucher-error-message-button">
                                                        OK</button>
                                                </div>
                                                <div class="voucherInputContainer container no-space" style="display:block;">
                                                    <div class="col-xs-8 no-space">
                                                        <div class="voucherInput">
                                                            <input type="text" name="voucherCode">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4 no-space">
                                                        <a href="#" class="btn btn-default btn-default-pink btn-fullwidth js-redeem-voucher" data-url="/pnpstorefront/pnp/en/cart/redeemVoucher/"><strong>APPLY</strong></a>
                                                    </div>
                                                </div>

                                                <div class="voucherData">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="voucherHeadingsBottom"><span>A maximum of one free delivery voucher &amp;
                                            one cash off voucher may be applied</span></div>
                                </div>


                                <div id="forgotVoucher" hidden="true">
                                    <div class="forgotVoucher-modalInner">
                                        <input type="hidden" name="appliedVoucherCode" value="">
                                        <div class="forgotVoucher-modalInnerContent">
                                            <p><span>DON'T MISS OUT!</span> IT LOOKS LIKE YOU FORGOT TO APPLY YOUR VOUCHER
                                                CODE.
                                            </p>
                                            <a id="applyVoucherPopup" href="#" class="btn btn-secondary-whiteout js-redeem-voucher" data-url="/pnpstorefront/pnp/en/cart/redeemVoucher/">
                                                APPLY VOUCHER CODE</a>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-xs-12 no-space">
                                        <div class="actions">
                                            <div class="CartCheckoutSideActionComponent-CartCheckoutSideAction" data-index="1">
                                                <form id="formCartCheckoutSideAction" action="/pnpstorefront/pnp/en/checkout" method="get"><button
                                                        type="submit" class="btn btn-default btn-fullwidth btn-custom-green-checkout">
                                                        CHECKOUT</button>
                                                    <div>
                                                        <input type="hidden" name="CSRFToken" value="c5bb594f-8f5f-4327-acd6-4a74f77c6707">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-space" id="accountSummaryContainer_AccountSummary" name="accountSummaryContainer" data-component-uid="AccountSummary"
                                    data-url="/pnpstorefront/pnp/en/account/accountSummary/"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-9 col-md-pull-3">



                        <div class="lst">
                            <span id="beforeOne">1</span>
                            <span id="afterOne" style="display: none;background-color: #05b305;color:#FFF;">&#x2714;</span>
                            <p id="one" style="border-color: #3ad006;"> View Trolley </p>
                            <span>2</span>
                            <span id="afterTwo" style="display: none;background-color: #05b305;color:#FFF;">&#x2714;</span>
                            <p id="two"> Delivery details </p>
                            <span>3</span>
                            <p id="three"> Order summary </p>
                            <span>4</span>
                            <p id="four"> Payment </p>
                        </div>


                        <div class="content">
                            <div class="listPageHeader my-full-trolley no-border">
                                <h1><span class="navcart-icon"></span><span><b>my</b></span> trolley</h1>
                            </div>
                        </div>
                        <div id="cartItemsPanel">
                            <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

                            <input type="hidden" name="cartpageTotalItems" value="2">
                            <!-- START SUBSTITUTES -->
                            

                            <div style="display:none" class="col-xs-12 no-space radiodropdownbuttonContainer">

                                <div class="col-xs-12 col-sm-6 radiodropdownbutton" id="doSubstitute" data-toggle="buttons">
                                    <label class="btn active" id="doSubstituteRadioButton">

                                        <input type="radio" class="sub-radio-1z" name="SubstituteAll" value="doSubstituteAll" checked="">
                                        <div class="dummyRadioContainer"></div>
                                        <span class="subs-text">SUBSTITUTE ALL MY ITEMS</span>
                                        <div class="radiodropdown"></div>
                                        <div class="panel">
                                            <ul>
                                                <li>We'll find a suitable alternative if your ordered item is unavailable</li>
                                                <li>If you don't want it, just hand it back to your driver for a refund</li>
                                            </ul>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 radiodropdownbutton" id="doNotSubstitute" data-toggle="buttons">
                                    <label class="btn active" id="doNotSubstituteRadioButton">

                                        <input type="radio" class="sub-radio-2z" name="SubstituteAll" value="doNotSubstituteAll">
                                        <div class="dummyRadioContainer"></div>
                                        <span class="subs-text">DO NOT SUBSTITUTE ANY OF MY ITEMS</span>
                                        <div class="radiodropdown"></div>
                                        <div class="panel">
                                            <ul>
                                                <li>You will not receive an alternative if the product is unavailable</li>
                                                <li>Please note that this setting will be kept until you change it</li>
                                            </ul>
                                        </div>
                                    </label>
                                </div>

                            </div>
                            <!-- END SUBSTITUTES -->



                            <!-- START PRODUCTLIST -->
                            <div class="col-xs-12 no-space">
                                <div class="productlistContainer">

                                   

                                    <div class="listPageHeader listPageHeader-short full-border viewTrolleyTable product-table-titles">
                                        <h1 id="h1-item-1">PRODUCT</h1>
                                        <h1 id="h1-item-2">DESCRIPTION</h1>
                                        <h1 id="h1-item-3">QTY</h1>
                                        <h1 id="h1-item-4">SUBSTITUTE PREFERENCE &amp; NOTES</h1>
                                        <h1 id="h1-item-5">PRICE</h1>
                                    </div>

                                    <div id="emptyCartMiddleContentDiv" class="col-xs-12 no-space">
                                    </div>

                                    <ul class="product-list" id="productList" data-page-code="cart">
                                        <div *ngFor="let product of cart" class="col-xs-12 listPageHeader-short viewTrolleyTable no-space">
                                            <div class="hrTop-cart"></div>


                                            <div class="hrBottom-cart"></div>

                                            <ol class="p-list pnp-cart-accordion-panel hrTop-panel shoppinglists-itemList" style="display: block;">
                                                <li class="product-item">
                                                    <form id="updateCartForm000000000000193768_EA" class="updateCartForm0" data-cart="{&quot;cartCode&quot; : &quot;0036107421&quot;,&quot;productPostPrice&quot;:&quot;16.99&quot;,&quot;productName&quot;:&quot;Sour Cream 250ml&quot;}"
                                                        action="/pnpstorefront/pnp/en/cart/update?CSRFToken=c5bb594f-8f5f-4327-acd6-4a74f77c6707"
                                                        method="post"><input
                                                            type="hidden" name="entryNumber" value="0">
                                                        <input type="hidden" class="data-prod" name="productCode" value="000000000000193768_EA">
                                                        <input type="hidden" class="data-qty" name="initialQuantity" value="1">
                                                        <input type="hidden" name="initialTextNotes" value="">
                                                        <input type="hidden" name="initialAllowSubstitute" value="true">
                                                        <input type="hidden" name="fieldUpdated">

                                                        <li class="shoppinglists-itemList-item" id="product-item_000000000000193768_EA">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-5 no-space">
                                                                    <div id="productlistcol1" class="product-item-left1">
                                                                        <div class="thumbSelect">
                                                                            <input type="checkbox" class="chk" name="selectItem" value="trolleyItem" id="selectItem_0" onclick="ACC.shoppinglist.onCheckBoxClick();">
                                                                            <label for="selectItem_0"></label>
                                                                        </div>

                                                                        <div class="thumb">
                                                                            <a href="/pnpstorefront/pnp/en/All-Products/Fresh-Food/Milk-%26-Cream/Cream/Fresh-Cream/PNP-SOUR-CREAM-250ML/p/000000000000193768_EA"><img
                                                                                    style="height: 100px;" src="{{product.image}}">
                                                                            </a></div>
                                                                    </div>

                                                                    <div id="productlistcol2" class="product-item-left2">
                                                                        <div class="details details-prodname">
                                                                            <a href="/pnpstorefront/pnp/en/All-Products/Fresh-Food/Milk-%26-Cream/Cream/Fresh-Cream/PNP-SOUR-CREAM-250ML/p/000000000000193768_EA"><div
                                                                                    class="name">{{product.productName}}</div>
                                                                            </a></div>


                                                                        <div id="productlistcol3" class="details details-qty " data-index="000000000000193768_EA" data-read-only-multid-grid="false">
                                                                            <div class="qty">
                                                                                <div class="mini-cart-item">
                                                                                    <div class="qty-selector input-group js-mini-cart-qty-selector">
                                                                                        <span class="input-group-btn">
                                                                                            <button id="btnMinus_000000000000193768_EA" class="btn btn-primary js-mini-cart-qty-selector-minus" (click)="SubQty(product)"
                                                                                                type="button">
                                                                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                                                            </button>
                                                                                        </span>
                                                                                        <input id="quantity_000000000000193768_EA" name="quantity" class="form-control js-mini-cart-qty-selector-input update-entry-quantity-input"
                                                                                            type="text" value="{{product.quantity}}"
                                                                                            size="1" maxlength="3"><span
                                                                                            class="input-group-btn">
                                                                                            <button id="btnPlus_000000000000193768_EA" class="btn btn-primary js-mini-cart-qty-selector-plus" (click)="AddQty(product)"
                                                                                                type="button">
                                                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                                                            </button>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="item-price hidden-md hidden-lg">
                                                                                    <div class="priceVariableWeight  showSave">
                                                                                        <span class="priceDiv">
                                                                                            <span class="">
                                                                                                <div class="normalPrice">
                                                                                                </div></span>
                                                                                            <div class="oldprice">
                                                                                            </div></span>

                                                                                        <span class="selectedQuantityDiv">
                                                                                        </span>

                                                                                        <span class="priceInformation">

                                                                                        </span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <button type="button" (click)="removeCart(product.productId)" class="btn  remove-item remove-entry-button" id="removeEntry_000000000000193768_EA">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                </button>
                                                                <div class="col-xs-12 col-sm-5 col-md-5 no-space">

                                                                </div>

                                                                <div class="item-price hidden-xs hidden-sm">
                                                                    <div class="priceVariableWeight  showSave">
                                                                        <span class="priceDiv">

                                                                            <span class="">

                                                                                <div class="normalPrice">
                                                                                    R{{product.newPrice.toFixed(2)}}</div></span>
                                                                            <div class="oldprice">
                                                                            </div></span>
                                                                        <div *ngIf="product.save" class="savings">Save R{{product.save.toFixed(2)}}
                                                                        </div>

                                                                        <span class="selectedQuantityDiv">
                                                                        </span>

                                                                        <span class="priceInformation">

                                                                        </span>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="spin-loader uil-ellipsis-css">
                                                                <div class="ib">
                                                                    <div class="spincircle">
                                                                        <div></div>
                                                                    </div>
                                                                    <div class="spincircle">
                                                                        <div></div>
                                                                    </div>
                                                                    <div class="spincircle">
                                                                        <div></div>
                                                                    </div>
                                                                    <div class="spincircle">
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </li>
                                                        <div>
                                                            <input type="hidden" name="CSRFToken" value="c5bb594f-8f5f-4327-acd6-4a74f77c6707">
                                                        </div>
                                                    </form>
                                                </li>
                                            </ol>
                                        </div>








                                    </ul>
                                </div>
                            </div>




                            <!-- END PRODUCTLIST -->


                        </div>

                        <div id="accountvoucherlistcomponent" class="accountvoucherlistcomponent accountVoucherList-landscape">

                            <div>
                            </div>
                            <div class="voucherBannerBtnContainer">
                            </div>
                            <div class="emptyVouchersDisplayMessage">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 no-space">
                                <div class="actions">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 no-space">
                                <div class="actions">
                                    <div *ngIf="!cart?.length > 0" style="    margin-left: 129px;font-size: 22px;color: red;"><b>Your
                                            TROLLEY is empty.Please Add Product to TROLLEY!!!</b></div>
                                    <div *ngIf="cart?.length > 0" class="CartCheckoutActionFootComponent-CartCheckoutAction" data-index="1">
                                        <div class="col-xs-12 col-sm-12">
                                            <form id="formCartCheckoutAction" action="/pnpstorefront/pnp/en/checkout" method="get"><button
                                                    onclick="checkOut()" routerLink="/my-delivery" type="submit" class="btn btn-default btn-custom-green-checkout btn-fullwidth">
                                                    <span class="btn-text-has-amendmode">UPDATE ORDER</span><span class="btn-text-no-amendmode">CHECKOUT</span></button>
                                                <div>
                                                    <input type="hidden" name="CSRFToken" value="c5bb594f-8f5f-4327-acd6-4a74f77c6707">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                       



                    </div>

                </div>
            </div>
        </div>






    </body>
</main>
<my-footer></my-footer>