<head>
        <link rel="stylesheet" href="../style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <title>Pick n Pay</title>
    </head>
    <script>
    
    
    </script>
    <body class="profile claro" style="height:100%;"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDWF4P" height="0"
                width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div id="mainSpinner" style="display: none; opacity: 0.75; z-index: 101; position: fixed; cursor: wait; width: 100%; height: 100%; background-color: rgb(192, 192, 192);"></div>
    
    
    
        <script type="text/javascript" id="">(function () { var a = window._fbq || (window._fbq = []); if (!a.loaded) { var b = document.createElement("script"); b.async = !0; b.src = "//connect.facebook.net/en_US/fbds.js"; var c = document.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c); a.loaded = !0 } a.push(["addPixelId", "204390879758875"]) })(); window._fbq = window._fbq || []; window._fbq.push(["track", "PixelInitialized", {}]);</script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=204390879758875&amp;ev=PixelInitialized"></noscript><div
            id="dojox_widget_Standby_0" widgetid="dojox_widget_Standby_0">
            <div style="display: none; opacity: 0; z-index: -1000; position: absolute; cursor: wait; background-color: rgb(192, 192, 192); width: 1263px; height: 874px; top: 0px; left: 0px; border-radius: 0px;"
                dojoattachpoint="_underlayNode"></div><img src="" style="opacity: 0; display: none; z-index: -1000; position: absolute; top: 421px; left: 615.5px; cursor: wait;"
                dojoattachpoint="_imageNode" alt="Please Wait..."><div style="opacity: 0; display: none; z-index: -10000; position: absolute; top: 0px;"
                dojoattachpoint="_textNode">Please wait...</div>
        </div>
        <div id="uniqName_2_0" widgetid="uniqName_2_0">
            <div class="headerLogo_inside" id="uniqName_0_1" widgetid="uniqName_0_1">
                <div class="headerLogo_logo">
                    <a routerLink="/my-menu" routerLinkActive="active">
                        <img data-dojo-attach-point="pnpLogoImg" src="app/menu/img/LogoPnP.png" >
                    </a>
                    <a (click)="logOut() "style="    margin-left: 1000px;
                    font-weight: bold;" >
                        LogOut
                        </a>
                </div>
              
                <div class="headerLogo_links" style="display:none">
                    <div class="headerLogo_linksContent" data-dojo-attach-point="links" style="display: block;">
                        <a data-dojo-attach-point="cozaLink" href="http://www.picknpay.co.za/home">Pick n Pay</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a data-dojo-attach-point="onlineShoppingLink" href="https://www.pnp.co.za/b2c_pnp/b2c/secureLogin.do">Shop</a><span
                            data-dojo-attach-point="logoutSpan" style="display: none;">&nbsp;&nbsp;|&nbsp;&nbsp;
                            <a data-dojo-attach-point="logoutLink" href="#">Sign out</a></span>
                    </div>
                    <img data-dojo-attach-point="smartShopperLogoImg" src="">
                </div>
            </div>
        </div>
        <div>
            <div id="uniqName_2_1" widgetid="uniqName_2_1">
                <div>
                    <div style="max-width: 500px; margin: 10% auto auto; display: none;" id="uniqName_0_0" widgetid="uniqName_0_0">
                        <div class="headerWelcome">Welcome to Pick n Pay Online</div>
                        <div class="copy">
                            <h1 class="heading2">Sign up with your Smart Shopper card to:</h1>
                            <ul class="heading_list">
                                <li> <b>Instantly shop</b> your previous in-store purchases</li>
                                <li> <b>Create shopping lists</b> for faster shopping and checkout</li>
                                <li>View your personalised <b>Smart Shopper discounts</b> </li>
                            </ul>
                        </div>
                        <span class="dijit dijitReset dijitInline dijitButton iconBtn_reg" role="presentation" widgetid="dijit_form_Button_0" style="background-color: rgb(51, 102, 204);"><span
                                class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span
                                    class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode"
                                    role="button" aria-labelledby="dijit_form_Button_0_label" tabindex="0" id="dijit_form_Button_0"
                                    style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon" data-dojo-attach-point="iconNode"></span><span
                                        class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText"
                                        id="dijit_form_Button_0_label" data-dojo-attach-point="containerNode"><img src=""
                                            alt="">
                                        <p>I have a <br> Smart Shopper card </p></span></span></span><input type="button" value=""
                                class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                                data-dojo-attach-point="valueNode"></span>
                        <span class="dijit dijitReset dijitInline iconBtn_website iconBton_non-ss dijitButton" role="presentation" widgetid="dijit_form_Button_1"
                            style="background-color: rgb(167, 2, 64);"><span class="dijitReset dijitInline dijitButtonNode"
                                data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents"
                                    data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="dijit_form_Button_1_label"
                                    tabindex="0" id="dijit_form_Button_1" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon"
                                        data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span
                                        class="dijitReset dijitInline dijitButtonText" id="dijit_form_Button_1_label" data-dojo-attach-point="containerNode"><img
                                            src="" alt="">
                                        <p>I don't have a <br> Smart Shopper card</p></span></span></span><input type="button"
                                value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                                data-dojo-attach-point="valueNode"></span>
                    </div>
                    <table class="formBlocks" data-dojo-attach-point="ccpRow">
                                        <tbody>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="ss heading3">What would you like to do?</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   
                                                        <span style="padding:20px">
                                                            <a routerLink="/my-admin">Add Product</a>
                                                        </span>
                                                        <span style="padding:20px">
                                                        <a routerLink="/my-category">Add Category</a>
                                                        </span>
                                                        <span style="padding:20px">
                                                                <a routerLink="/my-aisle">Add Aisle</a>
                                                                </span>
    
                                                        <span style="padding:20px">
                                                        <a routerLink="/my-addCompetion">Add Competitions</a>
                                                        </span>
                                                        <span style="padding:20px">
                                                            <a routerLink="/my-addRecipes">Add Recipe</a>
                                                            </span>
                                                   
                                                          
                                                   
                                                    
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    <div id="uniqName_6_0" widgetid="uniqName_6_0">
                        <div>
                            <div id="uniqName_6_1" widgetid="uniqName_6_1">
                                <form data-dojo-attach-point="containerNode" data-dojo-attach-event="onreset:_onReset,onsubmit:_onSubmit" id="dijit_form_Form_0"
                                    widgetid="dijit_form_Form_0" [formGroup]="CompetionForm" >
                                    <h1> {{ myMessage }} </h1>
                                    <h1 class="headerWelcome">
                                        <span>Save Competition</span>
                                    </h1>
                                    <h3 style="color: green">{{message}}</h3>
                                    <div class="subHeadArea">
                                        <h3 class="ss heading2">
                                           
                                        </h3>
                                    </div>
                                    <table class="formBlock">
                                        <tbody>
                        
                                           
                                            <tr data-dojo-attach-point="firstNameRow">
                                                <td><label for="uniqName_6_1_productName">Name</label></td>
                                                <td>
                                                    <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox dijitTextBoxPrompting dijitValidationTextBoxPrompting dijitPrompting"
                                                        id="widget_uniqName_6_1_productName" role="presentation" widgetid="uniqName_6_1_productName">
                                                        <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                        <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                tabindex="0" id="uniqName_6_1_productName" placeholder="" formControlName="name">
                                                                
                                                            </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr data-dojo-attach-point="lastNameRow">
                                                <td><label for="uniqName_6_1_originalPrice">Decription</label></td>
                                                <td>
                                                    <div   class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox form-group has-danger" id="widget_uniqName_6_1_lastName"
                                                        role="presentation" widgetid="uniqName_6_1_originalPrice">
                                                        <div  class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                        <div   class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                tabindex="0" id="uniqName_6_1_originalPrice" placeholder="" formControlName="description" required></div>
                                                                
                                                                
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                            <tr data-dojo-attach-point="emailAddressRow">
                                                <td><label for="uniqName_6_1_save">End Date</label></td>
                                                <td>
                                                    <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_emailAddress"
                                                        role="presentation" widgetid="uniqName_6_1_save">
                                                        <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                value="Χ " type="date" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                        <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="date" style="height: 24px;"
                                                                tabindex="0" id="uniqName_6_1_save" placeholder="" formControlName="endDate"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <tr data-dojo-attach-point="passwordRow">
                                                <td><label for="uniqName_6_1_photo">Photo</label></td>
                                                <td>
                                                    <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_password"
                                                        role="presentation" widgetid="uniqName_6_1_photo">
                                                        <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                value="Χ " type="file" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                        <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="file"
                                                                tabindex="0" placeholder="" id="uniqName_6_1_photo" formControlName="photo"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                             <tr data-dojo-attach-point="passwordRow">
                                                <td><label for="uniqName_6_1_quantity">Bannar</label></td>
                                                <td>
                                                    <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_password"
                                                        role="presentation" widgetid="uniqName_6_1_quantity">
                                                        <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                value="" type="file" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                        <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="file"
                                                                tabindex="0" placeholder="" id="uniqName_6_1_quantity" value="" formControlName="banner"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
    
                                    
                                        
                                            <span class="dijit dijitReset dijitInline dijitButton"  style="width:23%;"role="presentation" widgetid="dijit_form_Button_2"><button type="submit"
                                                onclick="addProduct()"  style="background-color:#003359;;height:40px;color:white;" >Add Product</button></span>
                                                
                                                <div id="addProduct" style="display: none">
                                                    
                                                <table class="formBlock">
                                                    <tbody>
                                                            <fieldset  formGroupName="product">
                                                           
                                                            <tr data-dojo-attach-point="emailAddressRow">
                                                                    <td><label for="uniqName_6_1_categoryId">Category Id</label></td>
                                                                    <td>
                                                                        <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_emailAddress"
                                                                            role="presentation" widgetid="uniqName_6_1_categoryId">
                                                                            <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                                    value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                            <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                                    data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                                    tabindex="0" id="uniqName_6_1_categoryId" formControlName="categoryId"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                        <tr data-dojo-attach-point="firstNameRow">
                                                            <td><label for="uniqName_6_1_productName">Product Name</label></td>
                                                            <td>
                                                                <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox dijitTextBoxPrompting dijitValidationTextBoxPrompting dijitPrompting"
                                                                    id="widget_uniqName_6_1_productName" role="presentation" widgetid="uniqName_6_1_productName">
                                                                    <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                            tabindex="0" id="uniqName_6_1_productName" placeholder="" formControlName="productName">
                                                                            
                                                                        </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr data-dojo-attach-point="lastNameRow">
                                                            <td><label for="uniqName_6_1_originalPrice">Original Price</label></td>
                                                            <td>
                                                                <div   class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox form-group has-danger" id="widget_uniqName_6_1_lastName"
                                                                    role="presentation" widgetid="uniqName_6_1_originalPrice">
                                                                    <div  class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div   class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                            tabindex="0" id="uniqName_6_1_originalPrice" placeholder="" formControlName="originPrice" required></div>
                                                                            
                                                                            
                                                                </div>
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr data-dojo-attach-point="emailAddressRow">
                                                            <td><label for="uniqName_6_1_save">Save</label></td>
                                                            <td>
                                                                <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_emailAddress"
                                                                    role="presentation" widgetid="uniqName_6_1_save">
                                                                    <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                            tabindex="0" id="uniqName_6_1_save" placeholder="" formControlName="save"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr data-dojo-attach-point="brandName">
                                                            <td><label for="uniqName_6_1_save">Brand Name</label></td>
                                                            <td>
                                                                <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_brandName"
                                                                    role="presentation" widgetid="uniqName_6_1_brandName">
                                                                    <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                            tabindex="0" placeholder="" id="uniqName_6_1_brandName" formControlName="brandName"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr data-dojo-attach-point="passwordRow">
                                                            <td><label for="uniqName_6_1_photo">Photo</label></td>
                                                            <td>
                                                                <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_password"
                                                                    role="presentation" widgetid="uniqName_6_1_photo">
                                                                    <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="Χ " type="file" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="file"
                                                                            tabindex="0" placeholder="" id="uniqName_6_1_photo" formControlName="image"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                         <tr data-dojo-attach-point="passwordRow">
                                                            <td><label for="uniqName_6_1_quantity">Quantity</label></td>
                                                            <td>
                                                                <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitValidationTextBox" id="widget_uniqName_6_1_password"
                                                                    role="presentation" widgetid="uniqName_6_1_quantity">
                                                                    <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner"
                                                                            value="" type="text" tabindex="-1" readonly="readonly" role="presentation"></div>
                                                                    <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner"
                                                                            data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text"
                                                                            tabindex="0" placeholder="" id="uniqName_6_1_quantity" value="" formControlName="quantity"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                    </fieldset>
                                                    </tbody>
                                                </table>
                                                <span class="dijit dijitReset dijitInline dijitButton"  style="width:9%;"role="presentation" widgetid="dijit_form_Button_2"><button type="submit"
                                                    (click)="addProduct()"  style="background-color:#003359;;height:40px;color:white;" >Add Product</button></span>
                                   
                                                </div>
                                    <div class="pageEndButton blue">
                                        <span class="dijit dijitReset dijitInline dijitButton"  style="width:23%;"role="presentation" widgetid="dijit_form_Button_2"><button type="submit"
                                            (click)="saveCompetition()"  style="background-color:#003359;float: left;height:40px;color:white;" >Save Competition</button></span>
                                            <span class="dijit dijitReset dijitInline dijitButton"  style="width:23%;"role="presentation" widgetid="dijit_form_Button_2"><button type="submit"
                                                (click)="update()" style="background-color:#003359;float: left;;height:40px;color:white;" >Update Competition</button></span>
                                                    <span class="dijit dijitReset dijitInline dijitButton"  style="width:23%;"role="presentation" widgetid="dijit_form_Button_2"><button type="submit"
                                                        (click)="delete()"  style="background-color:#003359;float: left;;height:40px;color:white;" >Delete Competition</button></span>
                                                            
                                        </div>
                                            
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                </div>
            </div>
            
            
            
        </div>
    
        
        
    
        
    
        <div class="footer-stretch">
            <div class="pin_footer">
                <div class="footer-col-main">
                   
    
                </div>
    
            </div>
    
            <div class="c_f"></div>
        </div>
    </body>