<head>
    <link rel="stylesheet" href="../admin/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>Pick n Pay</title>
</head>
<script>


</script>
<body class="profile claro" style="height:100%;"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDWF4P" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="mainSpinner" style="display: none; opacity: 0.75; z-index: 101; position: fixed; cursor: wait; width: 100%; height: 100%; background-color: rgb(192, 192, 192);"></div>



    <script type="text/javascript" id="">(function () { var a = window._fbq || (window._fbq = []); if (!a.loaded) { var b = document.createElement("script"); b.async = !0; b.src = "//connect.facebook.net/en_US/fbds.js"; var c = document.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c); a.loaded = !0 } a.push(["addPixelId", "204390879758875"]) })(); window._fbq = window._fbq || []; window._fbq.push(["track", "PixelInitialized", {}]);</script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=204390879758875&amp;ev=PixelInitialized"></noscript><div
        id="dojox_widget_Standby_0" widgetid="dojox_widget_Standby_0">
        <div style="display: none; opacity: 0; z-index: -1000; position: absolute; cursor: wait; background-color: rgb(192, 192, 192); width: 1263px; height: 874px; top: 0px; left: 0px; border-radius: 0px;"
            dojoattachpoint="_underlayNode"></div><img src="" style="opacity: 0; display: none; z-index: -1000; position: absolute; top: 421px; left: 615.5px; cursor: wait;"
            dojoattachpoint="_imageNode" alt="Please Wait..."><div style="opacity: 0; display: none; z-index: -10000; position: absolute; top: 0px;"
            dojoattachpoint="_textNode">Please wait...</div>
    </div>
    <div id="uniqName_2_0" widgetid="uniqName_2_0">
        <div class="headerLogo_inside" id="uniqName_0_1" widgetid="uniqName_0_1">
            <div class="headerLogo_logo">
                <a routerLink="/my-menu" routerLinkActive="active">
                    <img data-dojo-attach-point="pnpLogoImg" src="app/menu/img/LogoPnP.png" >
                </a>
                <a (click)="logOut() "style="    margin-left: 1000px;
                font-weight: bold;" >
                    LogOut
                    </a>
            </div>
          
            <div class="headerLogo_links" style="display:none">
                <div class="headerLogo_linksContent" data-dojo-attach-point="links" style="display: block;">
                    <a data-dojo-attach-point="cozaLink" href="http://www.picknpay.co.za/home">Pick n Pay</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a data-dojo-attach-point="onlineShoppingLink" href="https://www.pnp.co.za/b2c_pnp/b2c/secureLogin.do">Shop</a><span
                        data-dojo-attach-point="logoutSpan" style="display: none;">&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a data-dojo-attach-point="logoutLink" href="#">Sign out</a></span>
                </div>
                <img data-dojo-attach-point="smartShopperLogoImg" src="">
            </div>
        </div>
    </div>
    <div>
        <div id="uniqName_2_1" widgetid="uniqName_2_1">
            <div>
                <div style="max-width: 500px; margin: 10% auto auto; display: none;" id="uniqName_0_0" widgetid="uniqName_0_0">
                    <div class="headerWelcome">Welcome to Pick n Pay Online</div>
                    <div class="copy">
                        <h1 class="heading2">Sign up with your Smart Shopper card to:</h1>
                        <ul class="heading_list">
                            <li> <b>Instantly shop</b> your previous in-store purchases</li>
                            <li> <b>Create shopping lists</b> for faster shopping and checkout</li>
                            <li>View your personalised <b>Smart Shopper discounts</b> </li>
                        </ul>
                    </div>
                    <span class="dijit dijitReset dijitInline dijitButton iconBtn_reg" role="presentation" widgetid="dijit_form_Button_0" style="background-color: rgb(51, 102, 204);"><span
                            class="dijitReset dijitInline dijitButtonNode" data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span
                                class="dijitReset dijitStretch dijitButtonContents" data-dojo-attach-point="titleNode,focusNode"
                                role="button" aria-labelledby="dijit_form_Button_0_label" tabindex="0" id="dijit_form_Button_0"
                                style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon" data-dojo-attach-point="iconNode"></span><span
                                    class="dijitReset dijitToggleButtonIconChar">●</span><span class="dijitReset dijitInline dijitButtonText"
                                    id="dijit_form_Button_0_label" data-dojo-attach-point="containerNode"><img src=""
                                        alt="">
                                    <p>I have a <br> Smart Shopper card </p></span></span></span><input type="button" value=""
                            class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                            data-dojo-attach-point="valueNode"></span>
                    <span class="dijit dijitReset dijitInline iconBtn_website iconBton_non-ss dijitButton" role="presentation" widgetid="dijit_form_Button_1"
                        style="background-color: rgb(167, 2, 64);"><span class="dijitReset dijitInline dijitButtonNode"
                            data-dojo-attach-event="ondijitclick:__onClick" role="presentation"><span class="dijitReset dijitStretch dijitButtonContents"
                                data-dojo-attach-point="titleNode,focusNode" role="button" aria-labelledby="dijit_form_Button_1_label"
                                tabindex="0" id="dijit_form_Button_1" style="user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon"
                                    data-dojo-attach-point="iconNode"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span
                                    class="dijitReset dijitInline dijitButtonText" id="dijit_form_Button_1_label" data-dojo-attach-point="containerNode"><img
                                        src="" alt="">
                                    <p>I don't have a <br> Smart Shopper card</p></span></span></span><input type="button"
                            value="" class="dijitOffScreen" data-dojo-attach-event="onclick:_onClick" tabindex="-1" role="presentation"
                            data-dojo-attach-point="valueNode"></span>
                </div>
				<table class="formBlocks" data-dojo-attach-point="ccpRow">
                                    <tbody>
                                       
                                    </tbody>
                                </table>



                
				
				
                                <div class="container no-space">



                                    <div class="row">
                                        <div class="col-xs-12 col-md-9">
                                            <div class="favourites-main">
                                            </div>
                                            <div class="row favourites-border-wrapper">
                                            </div>
                                            <div class="row favourites-border-wrapper">
                
                
                                                <div class="col-xs-12 col-md-8">
                
                                                    <div class="row">
                                                    </div>
                
                                                    <div class="row">
                                                        <div class="col-xs-12 product-list-wrapper">
                
                
                                                            <ul class="product-listing product-grid row">
                                                                <div *ngFor="let product of products; let i=index">
                                                                    <div class="productCarouselItemContainer">
                                                                        <div class="productCarouselItem js-product-carousel-item">
                
                                                                            <div class="productCarouselItem-overlay addToCartError_000000000000134968_EA" id="addToCartError_000000000000134968_EA" style="display: none"
                                                                                data-pdt-code="000000000000134968_EA_2">
                                                                                <div class="productCarouselItem-overlay-close" onclick="getElementById('addToCartError_000000000000134968_EA').style.display='none'">X</div>
                                                                                <span class="addToCartErrorMsg_000000000000134968_EA" id="addToCartErrorMsg_000000000000134968_EA"></span>
                                                                            </div>
                
                                                                            <div *ngIf="product.save" class="image-gallery-savingsbuttonContainer">
                                                                                <div class="image-gallery-savingsbutton js-savings-amount-off">
                                                                                    Save
                                                                                    <div>
                                                                                        R{{product.save}}</div>
                                                                                </div>
                                                                                <div class="image-gallery-savingsbutton savingsbuttonPoints">
                                                                                    Get
                                                                                    <div>Triple</div>Points
                                                                                </div>
                                                                            </div>
                
                                                                            <div class="item js-product-card-item">
                                                                                <a (click)="getProduct(product.productId)">
                                                                                    <div class="thumb">
                                                                                        <img src="{{product.image}}">
                                                                                    </div>
                                                                                    <div class="item-name">{{product.productName}}</div>
                                                                                    <div class="product-price" style="height: 50px;">
                                                                                        <div class="item-price">
                                                                                            <div class="currentPrice  hasSavings">R {{product.newPrice.toFixed(2)}}
                                                                                            </div>
                                                                                            <div *ngIf="product.save" class="oldPrice">R{{product.originPrice.toFixed(2)}}</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                                <div class="addtocart-component">
                
                                                                                    <div class="qty-selector input-group js-qty-selector">
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn btn-primary js-qty-selector-minus" (click)="SubQty(product)" type="button"><span
                                                                                                    class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                                                                        </span>
                                                                                        <input type="text" maxlength="3" class="form-control js-qty-selector-input" size="1" value="{{product.storeQuantity}}" data-max="999"
                                                                                            data-min="1" name="pdpAddtoCartInput" title="Quantity">
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn btn-primary js-qty-selector-plus" (click)="AddQty(product)" type="button"><span
                                                                                                    class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="actions">
                                                                                        <div class="ProductCarouselAddToCart-AddToCartAction" data-index="1">
                                                                                            <div id="addToCartTitle" style="display:none">Added
                                                                                                to Your Shopping Cart</div>
                                                                                            <form id="addToCartForm" class="add_to_cart_form" action="/pnpstorefront/pnp/en/cart/add" method="post"><input
                                                                                                    type="hidden" maxlength="3" size="1" id="qty"
                                                                                                    name="qty" class="qty js-qty-selector-input"
                                                                                                    value="1">
                                                                                                <input type="hidden" size="1" id="unitCode" name="unitCode" class="unit-code js-unit-selector-input">
                                                                                                <input type="hidden" name="productCodePost" value="000000000000134968_EA">
                                                                                                <input type="hidden" name="quantityInCart_000000000000134968_EA" value="">
                                                                                                <input type="hidden" name="unitCodeInCart_000000000000134968_EA" value="">
                
                                                                                                <div class="addToCartButtonContainer container-fluid no-space" data-pdt-code="000000000000134968_EA">
                
                                                                                                    <div id="prodtile-addToCartButton-container_000000000000134968_EA" class="prodtile-addToCartButton-container notAdded addToCartButton_000000000000134968_EA ">
                                                                                                        <button id="addToCartButton" (click)="supply(product)" name="addToCartButton_000000000000134968_EA" type="submit" class="hasSpin btn btn-default btn-default-productview js-enable-btn">
                                                                                                            <span class="addbuttontextLong centertileBtnWording">supplier</span>
                                                                                                            <span class="addbuttontextShort centertileBtnWording">Add</span>
                                                                                                        </button>
                                                                                                    </div>
                
                                                                                                    <div id="addedToCartDiv" class="prodtile-addedToCart addedToCartDiv_000000000000134968_EA col-xs-5" style=" display:none  ">
                                                                                                        <div class="prodtile-addedToCartInner">
                                                                                                            <div class="prodtile-addedToCartInner-qty lblQuantityInCart_000000000000134968_EA" id="lblQuantityInCart_000000000000134968_EA"></div>
                                                                                                            <button id="removeFromCartButton_000000000000134968_EA" type="button" class="btn btn-primary btn-primary-blue js-enable-btn js-cart-item-remove removeFromCartButton_000000000000134968_EA"
                                                                                                                data-remove-cart-product-url="/pnpstorefront/pnp/en/cart/product/000000000000134968_EA/remove"
                                                                                                                data-product-code="000000000000134968_EA">
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    </div>
                
                                                                                                    <div class="addToCartError-pdp addToCartError_000000000000134968_EA" id="addToCartError" style="display: none">
                                                                                                        <a class="glyphicon glyphicon-remove pdp-cart-notification-remove" href="#"></a>
                                                                                                        <span id="addToCartErrorMsg_000000000000134968_EA" class="addToCartErrorMsg_000000000000134968_EA"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <input type="hidden" name="CSRFToken" value="8ef27612-3e2b-480f-abd0-3943abaa4ec8">
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                
                                                                                    <div class="list-actions">
                                                                                        <div class="rating js-ratingCalc " data-rating="{&quot;rating&quot;:&quot;&quot;,&quot;total&quot;:5}">
                                                                                            <div class="rating-stars">
                                                                                                <span class="glyphicon glyphicon-star"></span><span
                                                                                                    class="glyphicon glyphicon-star"></span><span
                                                                                                    class="glyphicon glyphicon-star"></span><span
                                                                                                    class="glyphicon glyphicon-star"></span><span
                                                                                                    class="glyphicon glyphicon-star"></span>
                                                                                            </div>
                
                                                                                        </div>
                
                
                                                                                        <div class="ProductCarouselAddToCart-CarouselAddToShoppingListAction" data-index="1">
                                                                                            <a href="javascript:" class="glyphicon glyphicon page-check" onclick="ACC.shoppinglist.addProductToShoppingListPopup(this);"
                                                                                                data-pg="plp"></a>
                
                                                                                            <div class="overlay-sl"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="prodFavourite">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                
                                                                </div>
                                                            </ul>
                
                
                
                                                            <div id="addToCartTitle" style="display:none">
                                                                <div class="add-to-cart-header">
                                                                    <div class="headline">
                                                                        <span class="headline-text">Added to Your Shopping Cart</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                
                                                            <div class="pagination-bar bottom">
                                                                <div class="row pagination-toolbar">
                                                                    <div class="helper clearfix hidden-md hidden-lg"></div>
                                                                    <div class="sort-refine-bar">
                
                                                                        <div class="col-xs-12 no-space filtering">
                                                                            <div class="form-group">
                                                                                <form id="sortForm2" name="sortForm2" method="get" action="#">
                
                                                                                    <div class="col-xs-12 col-sm-3 col-md-3 no-space grid-width">
                                                                                        <div class="grid-n-pagination">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-12 col-sm-4 col-md-3 no-space show-width">
                                                                                        <div class="show-n-number">
                                                                                            <div class="pagination-item pagination-item-show hidden-md hidden-lg">
                                                                                                <div class="selectric-wrapper selectric-custom_select selectric-form-control selectric-js-show-facets-plp">
                                                                                                    <div class="selectric-hide-select"><select
                                                                                                            product:productrefinebutton="" class="custom_select form-control js-show-facets-plp"
                                                                                                            tabindex="-1">
                                                                                                            <option>FILTER BY</option>
                                                                                                        </select></div>
                                                                                                    <div class="selectric"><span class="label">FILTER
                                                                                                            BY</span><b class="button">▾</b></div>
                                                                                                    <div class="selectric-items" tabindex="-1">
                                                                                                        <div class="selectric-scroll">
                                                                                                            <ul>
                                                                                                                <li data-index="0" class="last selected">FILTER
                                                                                                                    BY</li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div><input class="selectric-input"
                                                                                                        tabindex="0"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-12 col-sm-5 col-md-6 no-space sort-width">
                                                                                        <div class="sort-n-text">
                                                                                            <input type="hidden" name="q" value=":relevance">
                                                                                            <input type="hidden" name="show" value="All">
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                
                                                                        <div class="col-xs-12 col-sm-6 col-md-5 pagination-wrap">
                                                                            <ul class="pagination">
                                                                                <li class="pagination-prev disabled"><span class="glyphicon glyphicon-chevron-left"></span></li>
                                                                                <li class="active"><span>1<span class="sr-only">(current)</span></span></li>
                                                                                <li><a class="" href="/pnpstorefront/pnp/en/All-Products/Fresh-Food/Milk-%26-Cream/c/milk-and-cream703655157?q=%3Arelevance&amp;pageSize=18&amp;page=1">2</a></li>
                                                                                <li class="pagination-next">
                                                                                    <a href="/pnpstorefront/pnp/en/All-Products/Fresh-Food/Milk-%26-Cream/c/milk-and-cream703655157?q=%3Arelevance&amp;pageSize=18&amp;page=1"
                                                                                        rel="next" class="glyphicon glyphicon-chevron-right"></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3 stickThis">
                
                                        </div>
                                    </div>
                                </div>
				
				
				
				
            </div>
        </div>
		
		
		
    </div>

    
    

    

    <div class="footer-stretch">
        <div class="pin_footer">
            <div class="footer-col-main">
               

            </div>

        </div>

        <div class="c_f"></div>
    </div>
</body>