
<my-header></my-header>
<link rel="stylesheet" href="../recipes/style.css">
<div>
    <div class="no-space" style="margin-top: 100px;">
<div class="row">
<div class="col-xs-12">
    <div class="container">
<div class="col-xs-12 no-space yComponentWrapper">
<div class="ONE">
<div class="node-1 xup-type-CMSParagraphComponent">
<div class="content"><div>
<span class="hidden-xs">

<p style="text-align: center;margin-top: 55px;font-size: 66px;font-weight: bold;margin-bottom: 20px;line-height: 1.5;"><span style="
background-color: #A70240;
color: white;
text-transform: uppercase;
padding: 2px 15px 5px 15px;
">Competitions</span><span style="
text-transform: uppercase;
"> &amp; Giveaways</span></p>
<p style="text-align: center; font-size:16px;">Enter our latest competitions for a chance to win incredible prizes!</p>

</span>
<span class="hidden-sm hidden-md hidden-lg">

<p style="text-align: center;margin-top: 5px;font-size: 37px;font-weight: bold;line-height: 1.5;"><span style="
background-color: #A70240;
color: white;
text-transform: uppercase;
padding: 2px 15px 5px 15px;">Competitions</span><br><span style="
text-transform: uppercase;
"> &amp; Giveaways</span></p>
<p style="text-align: center; font-size:16px;">Enter our latest competitions for a chance to win incredible prizes!</p>

</span>
</div></div></div></div>

</div><div class="col-xs-12 no-space yComponentWrapper" *ngFor="let com of competition">
<div class="ONE_PLUS_ONE_PLUS_ONE">
<div class="node-1 xup-type-ImageTileComponent col-xs-4">
<div class="">
<a (click)="getById(com.competitionId)">
<img title="Competition-Blocks.jpg" src="{{com.photo}}" alt="Competition-Blocks.jpg" class="">
<span class=""></span>
</a>
</div></div></div>

</div></div></div>
</div>
</div>
</div>
<my-footer></my-footer>