<my-header></my-header>
  <link rel="stylesheet" href="../../menu/style.css">
<div class="no-space">
        <div class="row">
            <div class="col-xs-12 no-space">
                <div>
<div class="categoryLandingBanner rotatingbannercarousel-cms-overrides" style="background-image: url(https://cdn-prd-02.pnp.co.za/sys-master/images/h3c/h04/9050950991902/Main-cat-banner-Shop-1280x300px.jpg);margin-top: 153px;">

                    <div>
                        <h1></h1>
                        <div class="header-subtext"> <p><b><span style="color: #fff;">Shop</span></b></p></div>

                        <div class="header-actionIcon">
                            <div style="height:100px;width:100px">
                                </div>
                        </div>
                    </div>

                </div>
            </div></div>
        </div>

        <div class="container">
            <div class="col-xs-12 no-space">
                </div>
        </div>

        <div class="container no-space">

            <div class="col-xs-12 col-md-3 col-md-push-9">
                <div class="row">
                    <div class="col-xs-12 no-space yComponentWrapper">
<div class="content"><div><div>&nbsp;</div></div></div></div><div class="col-xs-12 no-space yComponentWrapper">
<div class="mock-loyalty-link">
        <a href="http://www.picknpay.co.za/smartshopper-overview " target="_blank&quot;&quot;"><span>Smart</span> Shopper</a>
    </div>
</div><div class="col-xs-12 no-space yComponentWrapper">
<div class="iframecomponent">

    <!-- Each iframecomponent iframe on the page requires a unique ID or they're all assigned the value returned by the last to be processed. -->
    <script type="text/javascript">
        var PnPIframeResizer = PnPIframeResizer || {};
        PnPIframeResizer.IframeCount === undefined ? PnPIframeResizer.IframeCount = 1 : PnPIframeResizer.IframeCount++;
        document.write('<iframe id="PnPIframe' + PnPIframeResizer.IframeCount + '" height="100%" width="265px" scrolling="no" src="https://resolve.pnp.co.za/Address/InAreaWidgetNew.htm" frameborder="0"><p>Your browser does not support iframes.</p></iframe>')
    </script><iframe id="PnPIframe1" height="100%" width="265px" scrolling="no" src="https://resolve.pnp.co.za/Address/InAreaWidgetNew.htm" frameborder="0" style="overflow: hidden; height: 281px;"><p>Your browser does not support iframes.</p></iframe>

	<script src="/pnpstorefront/_ui/shared/js/iframeResizer.min.js" type="text/javascript">
		</script>
		<script type="text/javascript">
			iFrameResize({
				log: true,
				enablePublicMethods: true,
                resizeFrom: "child",
                checkOrigin: false
			});
		</script>
	</div>
</div></div>
            </div>
            <div class="col-xs-12 col-md-9 col-md-pull-3">
                <div class="row">
                    <div class="col-xs-12 no-space yComponentWrapper">
<div class="content"><div><div>&nbsp;</div></div></div></div><div class="col-xs-12 no-space yComponentWrapper">
<div class="cmstilecomponent small-chevron " *ngFor="let ai of aisle">
            <div class="col-xs-6 col-sm-4 no-space tileContainerTile">
                    <a (click)="getAllByCat(ai.aisleId)">
                            <img title="Browse-Aisles-category-tile-3-opt.jpg" src="{{ai.image}}" class="">
                            <span class="tileContainerTile-title">{{ai.aisleName}}</span>
                          </a>
</div></div>
        <div>
             </div>
    </div></div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12 no-space">
                </div>
        </div>
    </div>
    <my-footer></my-footer>